nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(hraf="#") ...
  button(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation").navbar-toggler
    span.navbar-toggler-icon
  
  .collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href="#")